/backups/
/logs/
/saves/
/screenshots/
/resourcepacks/
/shaderpacks/
/mods/
/local/
/ldlib/
/journeymap/
/gtceu/
/downloads/
/crash-reports/
/patchouli_books/
/schematics/
options.txt
optionsof.txt
usercache.json
usernamecache.json
rhino.local.properties
emi.json
minecraftinstance.json
patchouli_data.json
user-prefs.json
*.log
*.curseclient
**/emi.css
**/jeiintegration-client.toml
config/oculus.properties
**/client.json
**/vanillabackport-client-4.toml.bak
config/jei/recipe-category-sort-order.ini
